@font-face {
  font-family: 'font';
  src: url('fonts/font.woff2');
}

body {  
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #0B96A9;
  overflow: hidden;
  font-family: 'font';
}

.container { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
  -webkit-perspective: 1300px;
  perspective: 1300px;
}

.card { 
  width: 500px;
  height: 340px;
  background: url("img/bg1.png");
  background-repeat: no-repeat; 
}

.container button {
  position: absolute;
  display: none;
  background-color: transparent;
  width: 500px;
  height: 340px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #979486; 
  font-family: "font";
  font-size: 24px;
  font-weight: normal;
  font-style: italic; 
  text-align: center;
  white-space: pre;
  border: none;
  outline: none;
  cursor: auto;
}

.gifts {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gifts li {
  width: 120px;
  height: 180px;
  position: absolute;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: 4.5s;
  -o-transition: 4.5s;
  transition: 4.5s;
}

.gifts li:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.gifts li:nth-child(1) {

  background-image: url("img/1.png");
  top: 5%;
  left: 7%;
}

.gifts li:nth-child(2) {
  background-image: url("img/2.png");
  top: 13%;
  left: 27%;
}

.gifts li:nth-child(3) {
  background-image: url("img/3.png");
  top: 68%;
  left: 34%;
}

.gifts li:nth-child(4) {
  background-image: url("img/4.png");
  top: 25%;
  left: 81%;
}

.gifts li:nth-child(5) {
  background-image: url("img/5.png");
  top: 2%;
  left: 44%;
}

.gifts li:nth-child(6) {
  background-image: url("img/6.png");
  top: 60%;
  left: 78%;
}

.gifts li:nth-child(7) {
  background-image: url("img/7.png");
  top: 63%;
  left: 7%;
}

.gifts li:nth-child(8) {
  background-image: url("img/8.png");
  top: 40%;
  left: 16%;
}

.gifts li:nth-child(9) {
  background-image: url("img/9.png");
  top: 68%;
  left: 61%;
}

.gifts li:nth-child(10) {
  background-image: url("img/10.png");
  top: 6%;
  left: 67%;
}

/* Animation */

.sway {  
  -webkit-animation: swinging 4.5s ease-in-out forwards infinite;  
  animation: swinging 4.5s ease-in-out forwards infinite;
}

@-webkit-keyframes swinging{
  0%{-webkit-transform: rotate(10deg);transform: rotate(10deg);}
  50%{-webkit-transform: rotate(-5deg);transform: rotate(-5deg)}
  100%{-webkit-transform: rotate(10deg);transform: rotate(10deg);}
}

@keyframes swinging{
  0%{-webkit-transform: rotate(10deg);transform: rotate(10deg);}
  50%{-webkit-transform: rotate(-5deg);transform: rotate(-5deg)}
  100%{-webkit-transform: rotate(10deg);transform: rotate(10deg);}
}

.flipped {
  -webkit-animation: flip 4s ease-in-out;
  animation: flip 4s ease-in-out;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: scale(1) rotate3d(0, 1, 0, 0deg);
    transform: scale(1) rotate3d(0, 1, 0, 0deg);
    background: url("img/bg1.png");
  }
  25% {
    -webkit-transform: scale(1.25) rotate3d(0, 1, 0, 0deg);
    transform: scale(1.25) rotate3d(0, 1, 0, 0deg);
    background: url("img/bg1.png");
  }

  50% {
    background: url("img/bg1.png");
  }

  51% {
    background: url("img/bg2.png");
  }

  75% {
    -webkit-transform: scale(1.25) rotate3d(0, 1, 0, 180deg);
    transform: scale(1.25) rotate3d(0, 1, 0, 180deg);
    background: url("img/bg2.png");
  }

  100% {
    -webkit-transform: scale(1) rotate3d(0, 1, 0, 180deg);
    transform: scale(1) rotate3d(0, 1, 0, 180deg);
    background: url("img/bg2.png");
  }
}

@keyframes flip {
  0% {
    -webkit-transform: scale(1) rotate3d(0, 1, 0, 0deg);
    transform: scale(1) rotate3d(0, 1, 0, 0deg);
    background: url("img/bg1.png");
  }
  25% {
    -webkit-transform: scale(1.25) rotate3d(0, 1, 0, 0deg);
    transform: scale(1.25) rotate3d(0, 1, 0, 0deg);
    background: url("img/bg1.png");
  }

  50% {
    background: url("img/bg1.png");
  }

  51% {
    background: url("img/bg2.png");
  }

  75% {
    -webkit-transform: scale(1.25) rotate3d(0, 1, 0, 180deg);
    transform: scale(1.25) rotate3d(0, 1, 0, 180deg);
    background: url("img/bg2.png");
  }

  100% {
    -webkit-transform: scale(1) rotate3d(0, 1, 0, 180deg);
    transform: scale(1) rotate3d(0, 1, 0, 180deg);
    background: url("img/bg2.png");
  }
}

.flipOut {
  -webkit-animation: flipOut 4s ease-in-out;
  animation: flipOut 4s ease-in-out;
}

@-webkit-keyframes flipOut {
  0% {
    -webkit-transform: scale(1) rotate3d(0, 1, 0, 180deg);
    transform: scale(1) rotate3d(0, 1, 0, 180deg);
    background: url("img/bg2.png");
  }
  25% {
    -webkit-transform: scale(1.25) rotate3d(0, 1, 0, 180deg);
    transform: scale(1.25) rotate3d(0, 1, 0, 180deg);
    background: url("img/bg2.png");
  }

  50% {
    background: url("img/bg2.png");
  }

  51% {
    background: url("img/bg1.png");
  }

  75% {
    -webkit-transform: scale(1.25) rotate3d(0, 1, 0, 360deg);
    transform: scale(1.25) rotate3d(0, 1, 0, 360deg);
    background: url("img/bg1.png");
  }

  100% {
    -webkit-transform: scale(1) rotate3d(0, 1, 0, 360deg);
    transform: scale(1) rotate3d(0, 1, 0, 360deg);
    background: url("img/bg1.png");
  }
}

@keyframes flipOut {
  0% {
    -webkit-transform: scale(1) rotate3d(0, 1, 0, 180deg);
    transform: scale(1) rotate3d(0, 1, 0, 180deg);
    background: url("img/bg2.png");
  }
  25% {
    -webkit-transform: scale(1.25) rotate3d(0, 1, 0, 180deg);
    transform: scale(1.25) rotate3d(0, 1, 0, 180deg);
    background: url("img/bg2.png");
  }

  50% {
    background: url("img/bg2.png");
  }

  51% {
    background: url("img/bg1.png");
  }

  75% {
    -webkit-transform: scale(1.25) rotate3d(0, 1, 0, 360deg);
    transform: scale(1.25) rotate3d(0, 1, 0, 360deg);
    background: url("img/bg1.png");
  }

  100% {
    -webkit-transform: scale(1) rotate3d(0, 1, 0, 360deg);
    transform: scale(1) rotate3d(0, 1, 0, 360deg);
    background: url("img/bg1.png");
  }
}

.scale {
  -webkit-animation: scaleP 1s ease-in-out;
  animation: scaleP 1s ease-in-out;
}

@-webkit-keyframes scaleP {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleP {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.scaleOut {
  -webkit-animation: scaleOut 1.1s ease-in-out;
  animation: scaleOut 1.1s ease-in-out;
}

@-webkit-keyframes scaleOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 0;
  }
}

@keyframes scaleOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 0;
  }
}