@font-face {
  font-family: 'font';
  src: url('fonts/font.woff2');
}

body {  
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: radial-gradient(ellipse farthest-corner at center bottom, rgba(255,5,5,0.6) 5%, #000 100%);
  background-color:#000;
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow: hidden;
  font-family: 'font';
}

.container {   
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flip-container {
  position: relative;
  perspective: 1000;
  transform-style: preserve-3d;
  transition: 1.5s;
}

.flip-container, .front, .back {
  width: 500px;
  height: 340px;
}

.front, .back {
  position: absolute;  
  top: 0; left: 0;
  backface-visibility: hidden;
  background-size: contain;  
  transform-style: preserve-3d;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
  background-image: url("img/bg1.png");  
}

.back {
  transform: rotateY(-180deg);
  background-image: url("img/bg.png");
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
}

.back p {
  display: none;
  background-color: transparent;
  color: #979486; 
  font-family: "font";
  font-size: 24px;
  font-weight: normal;
  font-style: italic; 
  text-align: center;
  white-space: pre;
}


.gifts {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gifts li {
  width: 120px;
  height: 180px;
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-size: 0px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: contain;
  transform-origin: center top;
  transition: 1.5s;
}

.gifts li:hover,
.audioPlay:hover {
  transform: scale(1.25);
  transition: 1.5s;
}

.gifts li:nth-child(1) {
  background-image: url("img/1.png");
  top: 17%;
  left: 15%;
}

.gifts li:nth-child(2) {
  background-image: url("img/11.png");
  top: 7%;
  left: 29.5%;
}

.gifts li:nth-child(3) {
  background-image: url("img/2.png");
  top: 3%;
  left: 46%;
}

.gifts li:nth-child(4) {
  background-image: url("img/12.png");
  top: 7%;
  left: 65%;
}

.gifts li:nth-child(5) {
  background-image: url("img/3.png");
  top: 17%;
  left: 78%;
}

.gifts li:nth-child(6) {
  background-image: url("img/13.png");
  top: 40%;
  left: 85%;
}

.gifts li:nth-child(7) {
  background-image: url("img/4.png");
  top: 64%;
  left: 78%;
}

.gifts li:nth-child(8) {
  background-image: url("img/14.png");
  top: 75%;
  left: 65%;
}

.gifts li:nth-child(9) {
  background-image: url("img/5.png");
  top: 79%;
  left: 46%;
}

.gifts li:nth-child(10) {
  background-image: url("img/15.png");
  top: 75%;
  left: 29.5%;
}

.gifts li:nth-child(11) {
  background-image: url("img/6.png");
  top: 64%;
  left: 15%;
}

.gifts li:nth-child(12) {
  background-image: url("img/16.png");
  top: 40%;
  left: 8%;
}

.audioPlay {
  position: absolute;
  display: none;
  padding: 30px 50px;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  transition: 1.5s;
}

/* Animation */

.sway { 
  animation: swinging 3s ease-in-out forwards infinite;
}

@keyframes swinging{
  0%{transform: rotate(10deg);}
  50%{transform: rotate(-5deg);}
  100%{transform: rotate(10deg);}
}

.flip-front {
  animation: flip1 3s ease-in-out forwards;
}

@keyframes flip1 {
  0% { transform: scale(1) rotateY(0deg); }
  
  25% { transform: scale(1.25) rotateY(0deg); }

  75% { transform: scale(1.25) rotateY(180deg); }
  
  100% { transform: scale(1) rotateY(180deg); }
}

.flip-back {
  animation: flip2 3s ease-in-out forwards;
}

@keyframes flip2 {
  0% { transform: scale(1) rotateY(-180deg); }
  
  25% { transform: scale(1.25) rotateY(-180deg); }

  75% { transform: scale(1.25) rotateY(0deg); }
  
  100% { transform: scale(1) rotateY(0deg); }
}

.flip-front-out {
  animation: flip1-out 3s ease-in-out forwards;
}

@keyframes flip1-out {
  0% { transform: scale(1) rotateY(180deg); }

  25% { transform: scale(1.25) rotateY(180deg); }

  75% { transform: scale(1.25) rotateY(0deg); }

  100% { transform: scale(1) rotateY(0deg); }
}

.flip-back-out {
  animation: flip2-out 3s ease-in-out forwards;
}

@keyframes flip2-out {
  0% { transform: scale(1) rotateY(0deg); }

  25% { transform: scale(1.25) rotateY(0deg); }

  75% { transform: scale(1.25) rotateY(-180deg); }

  100% { transform: scale(1) rotateY(-180deg); }
}

