@font-face {
  font-family: 'font';
  src: url('fonts/font.woff2');
}

body {  
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #0B96A9;
  overflow: hidden;
  font-family: 'font';
}

.container { 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  perspective: 1300px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: relative;
  width: 500px;
  height: 340px;
  background: url("img/bg1.png");
  background-repeat: no-repeat; 
  transition: 3s;
}

.flipped {
  background: url("img/bg.png");
  transform: rotate3d(0, 1, 0, 180deg);
}

.card p {
  color: #979486;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  white-space: pre;
  transform: rotate3d(0, 1, 0, 180deg);
}

.gifts {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gifts li {
  width: 160px;
  height: 240px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  font-size: 50px;
  font-weight: bold;
  background-repeat: no-repeat;
  transition: 4.5s;
}

.gifts li:hover {
  transform: scale(1.1);
  transition: 1s;
}

.gifts li:nth-child(1) {
  background-image: url("img/1.png");
  top: 5%;
  left: 7%;
}

.gifts li:nth-child(2) {
  background-image: url("img/2.png");
  top: 17%;
  left: 21%;
}

.gifts li:nth-child(3) {
  background-image: url("img/3.png");
  top: 68%;
  left: 34%;
}

.gifts li:nth-child(4) {
  background-image: url("img/4.png");
  top: 40%;
  left: 79%;
}

.gifts li:nth-child(5) {
  background-image: url("img/5.png");
  top: 2%;
  left: 44%;
}

.gifts li:nth-child(6) {
  background-image: url("img/6.png");
  top: 70%;
  left: 85%;
}

.gifts li:nth-child(7) {
  background-image: url("img/7.png");
  top: 63%;
  left: 4%;
}

.gifts li:nth-child(8) {
  background-image: url("img/8.png");
  top: 47%;
  left: 16%;
}

.gifts li:nth-child(9) {
  background-image: url("img/9.png");
  top: 68%;
  left: 61%;
}

.gifts li:nth-child(10) {
  background-image: url("img/10.png");
  top: 6%;
  left: 67%;
}

/* Animation */

.sway {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 4.5s ease-in-out forwards infinite;
}

@-webkit-keyframes swinging{
  0%{-webkit-transform: rotate(10deg);}
  50%{-webkit-transform: rotate(-5deg)}
  100%{-webkit-transform: rotate(10deg);}
}

@keyframes swinging{
  0%{-webkit-transform: rotate(10deg);}
  50%{-webkit-transform: rotate(-5deg)}
  100%{-webkit-transform: rotate(10deg);}
}




